<% @recipes.each do |recipe| %>
  <% if recipe[1].class != Fixnum %>
    <% recipe.each do |newstuff| %>
  <% if newstuff.class == Hash %>
    <%= raw newstuff[:html] %>
  <% end %>

<p></p>

  <% if newstuff.class == Array %>
    <% newstuff.each do |more| %>
    <p><%= link_to more[:recipeName], recipe_path(more[:id]) %></p>
      <% if more[:imageUrlsBySize].present? %>
        <p><%= image_tag more[:imageUrlsBySize][:"90"] %></p>
      <% end %>
    <% end %>
    <% end %>
  <% end %>
  <% end %>
<% end %>
