<div class="text-center">
  <h1>Welcome to Street Food Recipes</h1>
  Your source for all the great soulful recipes from across the globe
</div>

<br>
<br>

<% @set_recipes[:matches].each do |img| %>
  <% if img[:imageUrlsBySize].class == Hash %>
    <%= image_tag img[:imageUrlsBySize][:"90"] %>
  <% end %>
<% end %>
