<h1>A Little About Us</h1>

Here at StreetFoodRecipes.com we believe that food should be a shared experience with people you love.
Street food has grown in popularity over the last few years and has become part of mainstream culture.
Food trucks line the streets with tasty kabobs of chicken, slow simmered pork, savory dumplings and interesting food from all over the nation.
Even with all of this, there are only a handful of resources to learn to make this delicious food.
Most recipe sites are great for traditional "family meals", including baked chicken or ziti but there seems to be a lack of the fun recipes found in these food trucks.
This is where we come in. We have created a database of street food recipes to share all of the great flavors of the globe.
Good food should touch the soul, so we hope you have fun discovering new flavors and experiences with our recipes.
